.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-7,.col-xl-6,.col-xl-8,.col-xl-9,
.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-7,.col-lg-6,.col-lg-8,.col-lg-9,
.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-7,.col-md-6,.col-md-8,.col-md-9,
.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-7,.col-sm-6,.col-sm-8,.col-sm-9,
.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-7,.col-xs-6,.col-xs-8,.col-xs-9
*{
	box-sizing: border-box;
}

/*<editor-fold desc="Extra Small Screen .col-xs-">*/
.col-xs-12 {
	width: 100%;
}
.col-xs-11 {
	width: 91.66666667%;
}
.col-xs-10 {
	width: 83.33333333%;
}
.col-xs-9 {
	width: 75%;
}
.col-xs-8 {
	width: 66.66666667%;
}
.col-xs-7 {
	width: 58.33333333%;
}
.col-xs-6 {
	width: 50%;
}
.col-xs-5 {
	width: 41.66666667%;
}
.col-xs-4 {
	width: 33.33333333%;
}
.col-xs-3 {
	width: 25%;
}
.col-xs-2 {
	width: 16.66666667%;
}
.col-xs-1 {
	width: 8.33333333%;
}

/*</editor-fold>*/

/*<editor-fold desc="Small Screen .col-sm- min-width: 768px">*/
@media (min-width: 768px) {
	.col-sm-12 {
		width: 100%;
	}
	.col-sm-11 {
		width: 91.66666667%;
	}
	.col-sm-10 {
		width: 83.33333333%;
	}
	.col-sm-9 {
		width: 75%;
	}
	.col-sm-8 {
		width: 66.66666667%;
	}
	.col-sm-7 {
		width: 58.33333333%;
	}
	.col-sm-6 {
		width: 50%;
	}
	.col-sm-5 {
		width: 41.66666667%;
	}
	.col-sm-4 {
		width: 33.33333333%;
	}
	.col-sm-3 {
		width: 25%;
	}
	.col-sm-2 {
		width: 16.66666667%;
	}
	.col-sm-1 {
		width: 8.33333333%;
	}
}
/*</editor-fold>*/

/*<editor-fold desc="Medium Screen .col-md- min-width: 992px">*/
@media (min-width: 992px) {
	.col-md-12 {
		width: 100%;
	}
	.col-md-11 {
		width: 91.66666667%;
	}
	.col-md-10 {
		width: 83.33333333%;
	}
	.col-md-9 {
		width: 75%;
	}
	.col-md-8 {
		width: 66.66666667%;
	}
	.col-md-7 {
		width: 58.33333333%;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-5 {
		width: 41.66666667%;
	}
	.col-md-4 {
		width: 33.33333333%;
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-2 {
		width: 16.66666667%;
	}
	.col-md-1 {
		width: 8.33333333%;
	}
}
/*</editor-fold>*/

/*<editor-fold desc="Large Screen .col-lg- min-width: 1200px">*/
@media (min-width: 1200px) {
	.col-lg-12 {
		width: 100%;
	}
	.col-lg-11 {
		width: 91.66666667%;
	}
	.col-lg-10 {
		width: 83.33333333%;
	}
	.col-lg-9 {
		width: 75%;
	}
	.col-lg-8 {
		width: 66.66666667%;
	}
	.col-lg-7 {
		width: 58.33333333%;
	}
	.col-lg-6 {
		width: 50%;
	}
	.col-lg-5 {
		width: 41.66666667%;
	}
	.col-lg-4 {
		width: 33.33333333%;
	}
	.col-lg-3 {
		width: 25%;
	}
	.col-lg-2 {
		width: 16.66666667%;
	}
	.col-lg-1 {
		width: 8.33333333%;
	}
}
/*</editor-fold>*/
/*<editor-fold desc="Extra Large Screen .col-xl- min-width: 1600px">*/
@media (min-width: 1600px) {
	.col-xl-12 {
		width: 100%;
	}
	.col-xl-11 {
		width: 91.66666667%;
	}
	.col-xl-10 {
		width: 83.33333333%;
	}
	.col-xl-9 {
		width: 75%;
	}
	.col-xl-8 {
		width: 66.66666667%;
	}
	.col-xl-7 {
		width: 58.33333333%;
	}
	.col-xl-6 {
		width: 50%;
	}
	.col-xl-5 {
		width: 41.66666667%;
	}
	.col-xl-4 {
		width: 33.33333333%;
	}
	.col-xl-3 {
		width: 25%;
	}
	.col-xl-2 {
		width: 16.66666667%;
	}
	.col-xl-1 {
		width: 8.33333333%;
	}
}
/*</editor-fold>*/

/*body background color */ 
.bcolor{
	background-color: rgba(128, 128, 128, 0.082);	
	}

#photoLogo{
    width:100px;
    height:50px;
	}

#colorLogo{
    color: grey;
    font-style: italic;
	}

/*Selection & Admin icon style */ 
.selectionAndAdmin{
	padding-top: 7px;
	float: right;
	font-size: 15px;
	}

/* Add a background color to the top navigation */
.myLinks {
    background-color: rgb(33, 101, 156);
    overflow: hidden;
	font-style:bold;
	display:flex;
	flex-wrap: wrap;
	flex-flow: row wrap;	
	justify-content: space-between;	
	}

/* Style the links inside the navigation bar */
 .myLinks a {
    float: left;       
    color: rgb(233, 227, 227);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
	font-style:bold;
	position: relative;
    }

/* Change the color of links on hover */
.myLinks a:hover {
    background-color: #ddd;
    color: black;
    }

.dropdown {
    float: left;
    overflow: hidden;
    }

.dropdown .dropbtn {
    font-size: 18px;  
    border: none;
    outline: none;
    color: rgb(233, 227, 227);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-style:bold;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color:rgb(33, 101, 156);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }

.dropdown-content a {
    float: none;
    color: rgb(233, 227, 227);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    }

.dropdown-content a:hover {
    background-color: #ddd;
	}  
	
.dropdown:hover .dropdown-content {
    display: block;
	}

/* Properties (items) arrangement on front page  */
.one{    
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
	justify-content: space-around;	
	}

/* class in JSdoc _ size of each property's photo */
.im{
    width: 300px;
    height:300px;
	}

.loader {    
	color:grey;
	font-family:sans-serif;
	height:10vh;
	left:50%;
	overflow-x:hidden;
	padding: top 0;
	position:absolute;
	text-align:center;
	top:50%;
	transform:translate(-50%,-50%);
	width:50vw;        
	animation:left-to-right 1.5s alternate infinite linear;
	background-image:linear-gradient(to right, transparent, rgb(33, 101, 156), transparent);    
	content:"";
	height:10vh;
	left:0;
	overflow:hidden;
	right:0;     
	}

	@keyframes left-to-right {
		0% {
		transform:translateX(-100%);
		}
		100% {
		transform:translateX(100%);
		}
	}
    

/* GoToTop button style */
#myBtn {   
    position: fixed;
    bottom: 36px;
    right: 0;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(88, 84, 84);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  	}
  
#myBtn:hover {
    background-color: #555;
  	}

.footerCls {
	position: fixed;
    left: 0;
    bottom: 0;    
    width: 100%;
    height: 36px;
    background-color: rgb(33, 101, 156);
    color: white;
    text-align: center;
 	}

#footerLook{
	text-align: center;
	padding: 0%;
	margin-top: 0%;
	font-style:italic;
 	}

 a:link {
    color: rgb(33, 101, 156);
    background-color: transparent;
    text-decoration: none;
  	}

/*class in JSdoc_applies to loader */
.hidden{
    display:none;
	}
	
/* class in Js for styling each property details*/ 		
.arrangeItems{
        padding:2px;
    }

/* Adjust style when screen is max 900 px*/
@media screen and (max-width: 900px) {
	.myLinks  {
		display: none;
		flex-flow: column wrap;
		justify-content: space-between;	
		margin-top: 80px;
		font-size: 15px;
		}

	.myLinks a {
		color: #ddd;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
		display: block;
		}

	.myLinks a.icon {		
		
		position: relative;
		right: 0;
		top: 0;
		}
	}

